*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    scroll-behavior: smooth;
    --themeColor: rgb(0, 230, 122);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(18, 19, 23);
}

.main {
    width: 400px;
    height: 450px;
    padding-bottom: 2%;
    padding-top: 2%;
    display: grid;
    place-items: center;
    background-color: rgb(32, 34, 41);
    border-radius: 10px;
}

.circle-bg {
    background-image: linear-gradient(
        45deg, #121417 25%, transparent 25%), 
        linear-gradient(-45deg, #121417 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, #121417 75%), 
        linear-gradient(-45deg, transparent 75%, #121417 75%
    );
    background-size: 30px 30px;
    background-position: 0 0, 0 15px, 15px -15px, -15px 0px;
    margin-bottom: 1em;
    border-radius: 100%;
}

#circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 1);
    border: 3px solid rgb(32, 34, 41);
    outline: 3px solid #fff;
}

#box {
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 4px;
    text-align: center;
    outline: none;
    font-weight: 600;

    background-color: transparent;
    border-style: dashed;
    border-color: #fff;
    color: #fff;
    border-width: 1px;
    user-select: none;
}

.section-modes {
    background-color: rgb(32, 34, 41);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.mode-selector {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    color: #dadada;
    justify-content: center;
}

.mode-selector nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mode-selector nav .tabs {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mode-selector nav .tabs .tab {
    display: block;
}

.mode-selector nav .tabs .tab a[data-switcher] {
    display: block;
    padding: 1px 10px;
    text-decoration: none;
    font-size: 12px;
    color: #FFF;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}

.mode-selector nav .tabs .tab:hover a[data-switcher] {
    border-image: linear-gradient(to right,rgba(226, 226, 226, 0.7) 10%, #ffffff00 10%, #ffffff00 90%, rgba(226, 226, 226, 0.7) 90%);
    border-image-slice: 1;
}

.mode-selector nav .tabs .tab.is-active a[data-switcher] {
    border-image: linear-gradient(to right, var(--themeColor) 10%, #ffffff00 10%, #ffffff00 90%,var(--themeColor) 90%);
    border-image-slice: 1;
    font-weight: 700;
}

.modes {
    background-color: transparent;
    color: #FFF;
    height: 100%;
    margin-top: 20px;
}

.modes .mode {
    display: none;
}

.modes .mode.is-active {
    height: 100%;
    display: grid;
    place-items: center;
    width: 100%;
}

.alpha-slider {
    display: flex;
    width: 240px;
    height: 10px;
    margin: 10px 0;
    background-image:
        linear-gradient(45deg, #121417 25%, transparent 25%), 
        linear-gradient(-45deg, #121417 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, #121417 75%),
        linear-gradient(-45deg, transparent 75%, #121417 75%
    
    );
    border-radius: 10px;
    background-size: 10px 10px;
    background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
}


.main input[type="range"] {
    appearance: none;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    outline: none;
}

.main input[type="range" i]::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

#a, #b, #c {
    margin: 10px 0;
}

.btns-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.rng {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.rng h4 {
    font-size: 12px;
    font-weight: 100;
    margin-right: 6px;
    width: 4%;
}

#format-container {
    display: flex;
    width: 58%;
    outline: none;
    background-color: var(--themeColor);
    transition: background-color 0.1s ease-in-out;
    border-radius: 5px;
    color: #000;
    font-size: 0.7em;
    cursor: default;
    justify-content: space-between;
    align-items: center;
    font-size: 80%;
}

.arrow {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    width: 20%;
    height: 100%;
    border: 0px;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    border-radius: 4px 0 0 4px;
}

#prev {
    border-radius: 4px 0 0 4px;
}

#next {
    border-radius: 0 4px 4px 0;
}

#prev:hover {
    background-color: rgb(12, 13, 15);
}

#next:hover {
    background-color: rgb(12, 13, 15);
}

#format {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.arrow:hover {
    color: var(--themeColor);
}

#copy-btn {
    width: 38%;
    padding: 8px 0;
    outline: none;
    background-color: transparent;
    border: 2px solid var(--themeColor);
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
    color: var(--themeColor);
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}

.check-ico-1 {
    font-size: 17px;
    display: inline-block;
    vertical-align: middle;
    transition: font-size 0.3s ease-in-out;
    opacity: 1;
}

.check-ico-0 {
    font-size: 0px;
    vertical-align: middle;
    transition: font-size 0.3s ease-in-out;
}

#copy-btn:hover {
    background-color: var(--themeColor);
    color: #000;
}

.themes-handler {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    width: 50px;
    height: 450px;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-right: 350px;
    place-items: center;
    border-radius: 10px;
    justify-items: center;
}

.theme {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: var(--themeColor);
    transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
}

.theme.active-color{
    width: 100%;
    height: 100%;
}

.theme.hover-color{
    width: 100%;
    height: 100%;
}

.theme-c {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(18, 19, 23);
    margin-top: 64%;
    cursor: pointer;
}

.theme-text h3 {
    writing-mode: vertical-lr;
    font-weight: 100;
    color: #fff;
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    letter-spacing: 7px;
}

.theme-line {
    height: 25%;
    width: 1px;
    background-color: #fff;
}
